Repository gdsfactory/kfactory, pull requests merged in 2024-04, with the labels that each got.

#287 return uminstance with moving references
  src/kfactory/kcell.py
  tests/test_instance.py
Labels: enhancement

#288 fix invert for route_manhattan
  src/kfactory/routing/manhattan.py
Labels: bug, routing

#289 print ports in um
  src/kfactory/kcell.py
Labels: enhancement

#291 Add filter orientation
  src/kfactory/kcell.py
  src/kfactory/port.py
Labels: enhancement

#292 fix typos
  src/kfactory/kcell.py
Labels: bug

#296 Add (ly)rdb and l2n to show
  src/kfactory/kcell.py
Labels: enhancement

#295 Add smart routing
  .pre-commit-config.yaml
  pyproject.toml
  src/kfactory/routing/manhattan.py
  src/kfactory/routing/optical.py
  tests/test_meta.py
  tests/test_smart_routing.py
Labels: enhancement, routing

#300 fix flatten
  src/kfactory/kcell.py
  tests/test_cell.py
Labels: bug

#298 Fix passing port_type to route_single
  src/kfactory/routing/optical.py
Labels: bug, routing

#301 Add indirect routing of endpoints
  src/kfactory/routing/manhattan.py
  src/kfactory/routing/optical.py
Labels: enhancement, routing

#302 Add optional type for settings to KCell to annotate units of parameters
  src/kfactory/__init__.py
  src/kfactory/cells/straight.py
  src/kfactory/cells/taper.py
  src/kfactory/factories/bezier.py
  src/kfactory/factories/circular.py
  src/kfactory/factories/euler.py
  src/kfactory/factories/straight.py
  src/kfactory/factories/taper.py
  src/kfactory/kcell.py
  src/kfactory/kf_types.py
  tests/test_meta.py
Labels: enhancement, cells

#303 add inside flag to route_loopback
  src/kfactory/routing/optical.py
Labels: enhancement, routing
